html
  head
     append head
      title= title 
      meta(name="viewport" content="initial-scale=1, maximum-scale=1")
      title="PhotoFlow"
      link(rel="stylesheet" type="text/css" href="/public/css/profile.css")
      link(rel="stylesheet" type="text/css" href="/public/css/nav.css")
      link(rel="stylesheet" type="text/css" href="/public/css/register.css")
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
      link(rel="stylesheet" type="text/css" href="/public/css/style.css")
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
