.base
			.menu
				.icon
					.bar
			.icons
				i.fa.fa-user(aria-hidden="true")
				i.fa.fa-calendar-o(aria-hidden="true")
				i.fa.fa-tachometer(aria-hidden="true")
			.section
				.cover1
					.cover2
						a.content(href="/homer")
			a.section-static.top(href="/register")
			a.section-static.bottom(href="/login")
